%h1 Listing jobs

%table
  %thead
    %tr
      %th Title
      %th Company
      %th City
      %th State
      %th Posted date
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.company
        %td= job.city
        %td= job.state
        %td= job.posted_date
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
