.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} x
      %h4.modal-title
        = (@emails.first.present?  ? @emails.first.domain_search.domain.to_s : "<empty>" )+ " Contacts"
      .col-lg-10
      = (link_to "Download CSV", job_csv_download_path(@job.id, format: :csv) , class: " pull")
    .modal-body.emails-table
      %table.table.table-striped
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Position
            %th Email
            %th Status
            %th Type
            %th Twitter Handle
            %th Source Page
        %tbody.test
          - @emails.each do |email|
            %tr
              %td= email.first_name
              %td= email.last_name
              %td= email.position
              %td= email.email
              %td= email.status
              %td= email.address_type
              %td= email.twitter
              %td= email.source_page

    .modal-footer