=link_to "Download CSV" , "" , class: "pull-right"
%h2 Job Postings
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Company
      %th City
      %th State
      %th Posted date
      %th
      %th
      %th
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.company
        %td= job.city
        %td= job.state
        %td= job.posted_date
%br
