=link_to "Download CSV" , "" , class: "pull-right"
- @jobs = jobs if (!@jobs.present? and jobs.present?)
- if @jobs.present?
  .row
    %h3 Data Operations
    .col-lg-3
      = link_to "Get Domains" , get_domains_path , class: "btn btn-info" , remote: :true , onclick: "return show_waiting_bar();"
    .col-lg-2
      = select_tag "Batches", options_from_collection_for_select(@batches, "id", "search_params" ), class: "form-control",:prompt => "Select Batch"
  %h2 Job Postings
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Company
        -#%th Web Address
        %th City
        %th State
        %th Posted date
        %th Company Domain
        %th See Contacts
        %th
    %tbody
      - @jobs.each do |job|
        - company_name = job.company.present?  ? job.company.name.present?  ?  job.company.name : "" : ""
        - company_id = job.company.present? ?  job.company.id : ""
        %tr
          %td= job.title
          %td= company_name
          -#%td= company_name.present? ?  (link_to "visit Company website" , web_address_path(company_name), remote: :true) : ""
          %td= job.city
          %td= job.state
          %td= job.posted_date
          %td
            = job.company.present?  ? (link_to job.company.web_address.to_s , job.company.web_address.to_s ,target: :_blank) : ""
            -#= link_to "edit" , "" , class: "btn btn-warning pull-right"
            = job.company.present?  ? (link_to "Edit Company", edit_company_path(company_id), class: "btn btn-warning pull-right ") : ""
          %td
            = job.company.present?  ? job.company.web_address.present?  ? ( link_to "See Contacts" ,domain_search_path(company_id)) : "" : ""


  %br
