.col-lg-6#settings

%br
  -#= text_field_tag 'crawl[keyword]' ,"", class: 'form-control' , placeholder: "Enter Keyword"
- @jobs = jobs if (!@jobs.present? and defined?jobs and jobs.present?)
- if @jobs.present?
  = link_to "Get Domains" , get_domains_path , class: "btn btn-danger pull-right" , remote: :true , onclick: "return show_waiting_bar();"

  - if @active_batch.present?
    = link_to "Get all Emails", get_all_emails_path(@active_batch.id), class: "btn btn-info pull-right" , remote: :true , onclick: "return show_waiting_bar();"
    =link_to "Download CSV" , csv_download_path(@active_batch.id, format: :csv) , class: "btn btn-primary pull-right"

  %h2 Job Postings
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Company
        -#%th Web Address
        %th City
        %th State
        %th Posted date
        %th Company Domain
        %th See Contacts
        %th
    %tbody
      - @jobs.each do |job|
        - company_name = job.company.present?  ? job.company.name.present?  ?  job.company.name : "" : ""
        - company_id = job.company.present? ?  job.company.id : ""
        %tr
          %td= job.title
          %td= company_name
          %td= job.city
          %td= job.state
          %td= job.posted_date
          %td
            = job.company.present?  ? (link_to job.company.web_address.to_s , job.company.web_address.to_s ,target: :_blank) : ""
            = job.company.present?  ? (link_to "Edit Company", edit_company_path(company_id), class: "btn btn-warning pull-right ") : ""
          %td
            = job.company.present?  ? job.company.web_address.present?  ? ( link_to "See Emails" ,get_emails_path(company_id), remote: :true ,onclick: "return show_waiting_bar();") : "" : ""

  %br
